/* button {
    color: white;
    background-color: #4caf50;
    user-select: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

button:not(:disabled):hover {
    color: #2196f3;
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: green;
} */

.alert {
    padding: 20px;
    background-color: #2196f3;
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: linear opacity 0.6s;
}

.alert-warning {
    background-color: #ff9800;
}

.alert-danger {
    background-color: #f44336;
}

.alert-success {
    background-color: #4caf50;
}

.delete-alert-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.delete-alert-button:hover {
    color: black;
}

.clear-fix {
    clear: both;
}

body,
html {
    margin: 0;
    font-family: Arial;
}

body {
    width: 350px;
    height: 200px;
}

#tab-contents {
    height: 100%;
    width: 100%;
}

.tab-link {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 0px;
    font-size: 14px;
    width: 25%;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-content {
    overflow: hidden;
    color: white;
    display: none;
    height: 100%;
    padding: 20px;
}

.tab-link.active-tab-link {
    color: white;
}

.active-tab-content {
    display: block;
}

#home-tab-content,
#home-tab-link.active-tab-link {
    background-color: #f44336;
}

#add-url-tab-content,
#add-url-tab-link.active-tab-link {
    background-color: #4caf50;
}

#urls-list-tab-content,
#urls-list-tab-link.active-tab-link {
    background-color: #2196f3;
}

#about-tab-content,
#about-tab-link.active-tab-link {
    background-color: #ff5722;
}
